.pets-form,
h1, h2, h3, h4{
    padding-top: 1rem;
}


.form-btn {
    border-width: 1px;
    border-style: solid;
    border-color: #2c3e50;
    border-radius: 1rem;
    padding: 0.7rem;
}

.info-card {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-row {
    display: grid;
    gap: 1rem;
}

.two-col {
    grid-template-columns: 0.5fr;
}

.four-col {
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2rem;
}

.full-width input {
    display: flex;
    flex-direction: column;
    max-width: 30rem;  /* juster etter smak */
    width: 100%;
}

.info-card input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}

.btn-group {
    display: flex;
    gap: 0.8rem;
}

.form-btn {
    padding: 0.6rem 1rem;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}



.form-btn-delete {
    padding: 0.6rem 1rem;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.form-btn-delete:hover {
    background-color: #c33838;
    color: white;
   
}

.form-btn:hover {
    background: #2c3e50;
    color: white;
}

#input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}

.form-card input {
    display: grid;
    grid-template-columns: 1fr 1fr;
        width: 60%;
    padding: 0.7rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}

.form-card input[type="radio"] {
    display: none;
}

.form-card-vet input {
    width: 60%;
    padding: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}

.form-card-vet {
    padding-top: 1rem;
    margin-top: 1rem;
}

.form-btn.active {
  background-color: #ccd5ae;
  color: #2c3e50;
}