
.pets-form,
h1, h2, h3, h4 {
  padding: 1rem 1rem 1rem 0;
}

.error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

.error.show {
  display: block;
}

.form-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}


.form-panel {
  flex: 1;
}


.preview-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: none; 
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card.active {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.four-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.full-width input,
.info-card input,
.form-card input,
.form-card-vet input {
  width: 100%;
  max-width: 30rem;
  padding: 0.7rem;
  border: 1px solid var(--border-color, #d1d5db);
  border-radius: 8px;
  box-sizing: border-box;
}

.form-card input[type="radio"] {
  display: none;
}

.info-card {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
}

.form-card-vet {
  padding-top: 1rem;
  margin-top: 1rem;
}

.btn-group {
  display: flex;
  gap: 0.8rem;
}

.form-btn,
.form-btn-delete {
  padding: 0.6rem 1rem;
  border: 1px solid var(--primary-bg-color, #007bff);
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 1rem;
  color: var(--primary-bg-color, #007bff);
}

.form-btn:hover {
  background: var(--primary-bg-color, #007bff);
  color: #fff;
}

.form-btn-delete:hover {
  background-color: #c33838;
  color: #fff;
}

.form-btn.active {
  background-color: var(--secondary-bg-color, #e2e8f0);
  color: var(--primary-bg-color, #007bff);
}