.pets-form,
h1, h2, h3, h4{
    padding-top: 1rem;
}

.info-card {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-row {
    display: grid;
    gap: 1rem;
}

.two-col {
    grid-template-columns: 0.5fr;
}

.four-col {
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2rem;
}

.full-width input {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    width: 100%;
}

.info-card input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}

.btn-group {
    display: flex;
    gap: 0.8rem;
}

.form-btn {
    padding: 0.6rem 1rem;
    border: 1px solid var(--primary-bg-color);
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: 0.2s ease;
    color: var(--primary-bg-color);
    font-size: 1rem;
}


.form-btn-delete {
    padding: 0.6rem 1rem;
    border: 1px solid var(--primary-bg-color);
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 1rem;
    color: var(--primary-bg-color);
}

.form-btn-delete:hover {
    background-color: #c33838;
    color: #fff;
   
}

.form-btn:hover {
    background: var(--primary-bg-color);
    color: #fff;
}


.form-card input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    padding: 0.7rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.form-card input[type="radio"] {
    display: none;
}

.form-card-vet input {
    width: 60%;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.form-card-vet {
    padding-top: 1rem;
    margin-top: 1rem;
}

.form-btn.active {
  background-color: var(--secondary-bg-color);
  color: var(--primary-bg-color);
}